@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-size: 1.1em;
    font-family: Montserrat, sans-serif;
    background-image: linear-gradient(to right, #00cdac 0%, #8ddad5 100%);
}
.container {
    max-width: 600px;
    margin: 1em auto;
    padding: 1em;
    border-radius: 10px;
    background: rgba(255,255,255,0.7);
}
header {
    text-align: center;
}
.select-option {
    display: flex;
    flex-direction: column;
}
.select-option > * {
    padding: 0.2em;
    line-height: 2em;
    font-size: 1.1rem;
}
form {
    display: flex;
    flex-direction: column;
}
select {
    cursor: pointer;
}
input[type="radio"] {
    cursor: pointer;
}

fieldset {
    padding: 1em;
}
#loader {
    display: none;
    align-self: center;
}
button {
    width: 20%;
    margin-top: 1em;
    background-image: linear-gradient(to right, #00cdac 0%, #8ddad5 100%);
    border: none;
    padding: 0.5em;
    align-self: center;
    font-size: 1.1rem;
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
    border: 0.5px solid gray;
}
