@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
    font-family: Ubuntu, sans-serif;
    min-height: 100vh;
}
header {
    padding-bottom: 1em;
}
main > .container {
    background-color: rgba(255,255,255,0.7);
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 10px;
    margin: 1em auto;
}
.list-group {
    max-height: 30vh;
    overflow: scroll;
}
h1 {
    color: white;
}
h4 {
    padding: 0.5em;
}

/*  STICKY FOOTER   */
footer {
    position: fixed;
    width: 100%;
    bottom: 1em;
}
/*  COLOR CLASSES   */
.bg-info {background-color: lightskyblue;}
.bg-success {background-color: lightgreen;}
.bg-warning {background-color: orange;}
.bg-danger {background-color: lightcoral;}
/*  FORMS AND MESSAGES  */
#form-first {
    text-align: center;
    padding: 0.75em;
    border-bottom: 2px dotted gray;
}
#enter-budget,  #button-one {
    height: 2em;
    text-align: center;
    font-size: 2rem;
}
#message-first, #message-second {
    color: red;
    font-size: 1.75rem;
    margin-top: 5px;
}
/*  MEDIA QUERIES   */
@media (max-width: 991px) {
    footer {
        display: none;
    }
}
@media (max-height: 650px) {
    footer {
        display: none;
    }
}
@media (min-width: 768px) {
    #enter-budget {
        width: 400px;
    }
    #button-one {
        margin-left: 1em;
    }
}