* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
section {
    max-width: 800px;
    padding: 1em;
    text-align: center;
    margin: 0.5em auto;
}
.first {
    background: lightblue;
}
.second {
    background: lightgray;
}
button {
    width: 4em;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
}
button:hover {
    color: white;
    background-image: linear-gradient(to left, cyan, lightcoral);
}
.crimson {
    color: red;
    font-size: 0.9rem;
}
.list {
    text-align: left;
    margin-left: 2em;
    margin-top: 5px;
}

