@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    font-family: Ubuntu, sans-serif;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
.container {
    margin: 2em auto;
    max-width: 450px;
    background: rgba(255,255,255,0.5);
    border-radius: 4px;
    padding: 1em;
    min-height: 50vh;
}
header {
    text-align: center;
}
/*
    SECTION: FORM
*/
#todo-form {
    display: flex;
    justify-content: center;
}
#todo-form > * {
    border: 1px solid transparent;
    font-size: 15px;
    line-height: 25px;
}
input[type="submit"] {
    margin-left: 1em;
    color: white;
    background: indianred;
}
input[type="submit"]:hover {
    cursor: pointer;
    color: indianred;
    background: white;
}
/*
    SECTION: TODO
*/
.todo {
    padding: 0 2em;;
}
#todo-list li {
    margin-bottom: 1em;
}


/*  Class added using Javascript */
.remove-item {
    color: indianred;
    padding: 0.2em 0.5em;
    margin-left: 1em;
}
.remove-item:hover {
    background: indianred;
    color: white;
    cursor: pointer;
}