html {
    box-sizing: border-box;
    font-family: sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0 auto;
    max-width: 1110px;
}
/****************
    HEADER 
****************/
.header {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
}
.header h2 {
    color: orange;
}
.header ul {
    list-style: none;
}
#cart-content {
    width: 100%;
}
#clear-cart {
    border: 1px solid rgba(0,0,0,0.3);
    text-decoration: none;
    color: black;
    padding: 0.8em 2em;
    position: absolute;
    bottom: 1em;
    border-radius: 5px;
    width: 80%;
    text-align: center;
}
#clear-cart:hover {
    border-color: rgba(0,0,0,0.8);
}
.submenu {
    position: relative;
}
.submenu #shopping-cart{
    display: none; 
}
.submenu:hover #shopping-cart{
    display: block;
    position: absolute;
    right:0;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
#cart-content td{
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.2);
}
/************************
    HERO IMAGE SECTION
************************/
#hero {
    background: url(../img/hero.jpg);
    height: 45vh;
    background-size: cover;
}
.hero-content {
    color: white;
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    height: 100%;
    width: 50%;
}
.hero-content h2 {
    padding: 1em;
}
/*********************
    COURSES SECTION
**********************/
.heading {
    font-size: 3rem;
    text-align: center;
}
.container {
    background-color: whitesmoke;
    padding: 1em;
    padding-bottom: 2em;
    max-width: 
}
.course-container {
    display: flex;
    justify-content: space-around;
}
@media (max-width: 900px) {
    .course-container {
        flex-direction: column-reverse;
        padding: 1em;
        max-width: 400px;
        margin: 0 auto;
    }
    .course-image {
        width: 100%;
    }
    .course-container .column {
        margin-bottom: 1.5em;
    }
}

.course-container  .column {
    background: white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
}
.info-card {
    display: flex;
    flex-direction: column;
}
.info-card>*:not(:last-child) {
    padding-left: 2em;
    margin: 0.8em 0;
}
.info-card h4 {
    font-size: 1.1rem;
}
.old-price {
    text-decoration: line-through;
    font-size: 1.2rem;
}
.new-price {
    font-weight: 800;
    font-size: 1.75rem;
    float: right;
    margin-right: 1em;
}
.info-card a {
    text-decoration: none;
    background: #1EAEDB;
    color: white;
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
    margin: 10px 30px;
    text-transform: uppercase;
    font-size: 0.9rem;
    border-radius: 5px;

}
.info-card a:hover {
    background: #0FA0CE;
}
/* Javascript Triggered Classes */
.remove {
    background: #c23616;
    color: white;
    padding: 4px 6px;
    border-radius: 50%;
    font-size: 0.7rem;
    text-decoration: none;

}